In [ ]:
import sqlite3
table = ["million1234", "tenmil", "hundmil", "billion"][3]

conn = sqlite3.connect('strictly.db')
cursor = conn.cursor()

In [ ]:
# cursor.execute("select count(*) from billion").fetchall()

In [ ]:
sql = f"SELECT station, min(temperature) as min, avg(temperature) as mean, max(temperature) as max from {table} group by station order by station"
print(sql)

In [ ]:
ret = cursor.execute(sql).fetchall()

In [ ]:
for row in ret:
    print(f"{row[0]}={row[1]:0.1f};{row[2]:0.1f};{row[3]:0.1f}")

In [ ]:
conn.close()